.container
  %h1= "Liste des blogs"  
  %table.table
    %thead
      %tr
        %th
          Titre du blog
        %th
          %span.pull-right= "Actions"
    %tbody
      - @blogs.each do |blog|
        %tr
          %td
            blog.title
          %td
            = link_to "Supprimer", admin_blogs_path(@blog), method: :delete, class: "btn btn-danger pull-right"
